In [2]:
name = input("Enter the Name? ").strip().title()
first,last = name.split(" ")
print(f"Your Name is : {last}")

Enter the Name?  BHAGAVATHI SARAN

Your Name is : Saran

In [19]:
# x = eval(input("Enter the X value : "))
# y = eval(input("Enter the Y Value : "))
# z = x+y
# print(f"{z:.3f}")

Enter the X value :  54554.151653
Enter the Y Value :  12456.1556

67010.307

In [4]:
def hello():
    x = eval(input("Enter the X value : "))
    y = eval(input("Enter the Y Value : "))
    z = x/y
    print(f"{z:.4f}")
hello()

Enter the X value :  4875.452
Enter the Y Value :  95345.156

0.0511

Closure Example below (Closure means function inside a function)

In [21]:
def say():
    greeting = 'Hello'
    def display():
        print(greeting)
    return display
fn = say()
fn()

Hello

In [22]:
print(fn.__closure__)

(<cell at 0x000001F8F149A200: str object at 0x000001F8F12B74F0>,)

In [25]:
def multiplier(x):
    def multiply(y):
        return x * y
    return multiply


multipliers = []
for x in range(1, 5):
    multipliers.append(multiplier(x))

m1, m2, m3,m4 = multipliers

print(m1(10))
print(m2(10))
print(m3(10))
print(m4(10))

10
20
30
40

In [4]:
a = 100
b = a
a is b
print(id(a))
print(id(b))

140723670851464
140723670851464

In [6]:
a = 100
b = 101
print(id(a))
print(id(b))

140723670851464
140723670851496

In [7]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]
def sort_key(company):
    return company[2]
sort_key(companies)

('Facebook', 2019, 70.7)

In [1]:
import re

s = 'Python 3.0 was released in 2008'
matches = re.finditer('\d', s)
for match in matches:
    print(match.group())

3
0
2
0
0
8

In [3]:
import pandas as pd
df = pd.read_csv("POPULATION_DETAILS_SCST_2001_CENSUS.csv")
df

,Type,Name of the ULB,Grade of Municipalities,Total,Male,Female,SC,ST,% of Women Population,% of SC Population,% of ST Population
0,Corporations,Coimbatore,NaN,1262122,646433,615689,77178,535,48.78,6.11,0.04
1,Corporations,Madurai,NaN,1230015,621731,608284,53676,2064,49.45,4.36,0.17
2,Corporations,Tiruchirapalli,NaN,796644,398542,398102,70969,2991,49.97,8.91,0.38
3,Corporations,Tirunelveli,NaN,411831,203232,208599,50564,1696,50.65,12.28,0.41
4,Corporations,Salem,NaN,696760,353933,342827,76653,1345,49.20,11.00,0.19
...,...,...,...,...,...,...,...,...,...,...,...
129,Municipalities,Vikramasingapuram,Grade-II,48309,24019,24290,3426,20,50.28,7.09,0.04
130,Municipalities,Kayalpattinam,Grade-II,32664,15010,17654,2627,14,54.05,8.04,0.04
131,Municipalities,Kuzhithurai,Grade-II,20503,10069,10434,341,27,50.89,1.66,0.13
132,Municipalities,Padmanabhapuram,Grade-II,20075,9967,10108,2112,7,50.35,10.52,0.03
133,Municipalities,Sattur,Grade-II,31443,15439,16004,1954,198,50.90,6.21,0.63

In [4]:
df.shape

(134, 11)

In [6]:
rows,cols = df.shape
rows

134

In [7]:
df.head()

,Type,Name of the ULB,Grade of Municipalities,Total,Male,Female,SC,ST,% of Women Population,% of SC Population,% of ST Population
0,Corporations,Coimbatore,NaN,1262122,646433,615689,77178,535,48.78,6.11,0.04
1,Corporations,Madurai,NaN,1230015,621731,608284,53676,2064,49.45,4.36,0.17
2,Corporations,Tiruchirapalli,NaN,796644,398542,398102,70969,2991,49.97,8.91,0.38
3,Corporations,Tirunelveli,NaN,411831,203232,208599,50564,1696,50.65,12.28,0.41
4,Corporations,Salem,NaN,696760,353933,342827,76653,1345,49.20,11.00,0.19

In [8]:
df.head(10)

,Type,Name of the ULB,Grade of Municipalities,Total,Male,Female,SC,ST,% of Women Population,% of SC Population,% of ST Population
0,Corporations,Coimbatore,NaN,1262122,646433,615689,77178,535,48.78,6.11,0.04
1,Corporations,Madurai,NaN,1230015,621731,608284,53676,2064,49.45,4.36,0.17
2,Corporations,Tiruchirapalli,NaN,796644,398542,398102,70969,2991,49.97,8.91,0.38
3,Corporations,Tirunelveli,NaN,411831,203232,208599,50564,1696,50.65,12.28,0.41
4,Corporations,Salem,NaN,696760,353933,342827,76653,1345,49.20,11.00,0.19
5,Corporations,Erode,NaN,405345,206558,198787,12642,74,49.04,3.12,0.02
6,Corporations,Tiruppur,NaN,548773,286062,262711,13451,161,47.87,2.45,0.03
7,Corporations,Thoothukudi,NaN,320466,160975,159491,13900,323,49.77,4.34,0.10
8,Corporations,Vellore,NaN,423425,211547,211878,20531,340,50.04,4.85,0.08
9,Municipalities,Kancheepuram,Special,197288,99333,97955,11484,800,49.65,5.82,0.41

In [9]:
df.tail()

,Type,Name of the ULB,Grade of Municipalities,Total,Male,Female,SC,ST,% of Women Population,% of SC Population,% of ST Population
129,Municipalities,Vikramasingapuram,Grade-II,48309,24019,24290,3426,20,50.28,7.09,0.04
130,Municipalities,Kayalpattinam,Grade-II,32664,15010,17654,2627,14,54.05,8.04,0.04
131,Municipalities,Kuzhithurai,Grade-II,20503,10069,10434,341,27,50.89,1.66,0.13
132,Municipalities,Padmanabhapuram,Grade-II,20075,9967,10108,2112,7,50.35,10.52,0.03
133,Municipalities,Sattur,Grade-II,31443,15439,16004,1954,198,50.90,6.21,0.63

In [11]:
df[51:61]

,Type,Name of the ULB,Grade of Municipalities,Total,Male,Female,SC,ST,% of Women Population,% of SC Population,% of ST Population
51,Municipalities,Mettupalayam,Selection,66595,33385,33210,8178,78,49.87,12.28,0.12
52,Municipalities,Valparai,Selection,95107,46961,48146,51661,1217,50.62,54.32,1.28
53,Municipalities,Udumalaipettai,Selection,59668,29330,30338,5566,10,50.84,9.33,0.02
54,Municipalities,Coonoor,Selection,50196,24828,25368,12461,122,50.54,24.82,0.24
55,Municipalities,Sivakasi,Selection,72168,36312,35856,6265,150,49.68,8.68,0.21
56,Municipalities,Virudhunagar,Selection,72081,35769,36312,4784,99,50.38,6.64,0.14
57,Municipalities,Chengalpattu,Grade-I,62582,31423,31159,9824,1111,49.79,15.70,1.78
58,Municipalities,Thiruvallur,Grade-I,45732,23034,22698,8480,288,49.63,18.54,0.63
59,Municipalities,Poonamallee,Grade-I,42604,22017,20587,7426,41,48.32,17.43,0.10
60,Municipalities,Panruti,Grade-I,55346,27855,27491,7700,25,49.67,13.91,0.05

In [12]:
df.columns

Index(['Type', 'Name of the ULB', 'Grade of Municipalities', 'Total', 'Male',
       'Female', 'SC', 'ST', '% of Women Population', '% of SC Population',
       '% of ST Population'],
      dtype='object')

In [15]:
df['SC']

0      77178
1      53676
2      70969
3      50564
4      76653
       ...
129     3426
130     2627
131      341
132     2112
133     1954
Name: SC, Length: 134, dtype: int64

In [16]:
df['ST']

0       535
1      2064
2      2991
3      1696
4      1345
       ...
129      20
130      14
131      27
132       7
133     198
Name: ST, Length: 134, dtype: int64

In [1]:
def testing(**kwargs):
    for key,value in kwargs.items():
        print(key + '-' + str(value))

In [3]:
input = {"India":1000,"Singapore":2000,"Japan":3000}
testing(**input)

India-1000
Singapore-2000
Japan-3000

In [5]:
## Programming Assignment 0
## Practice question for automatic grading

## Do not use any additional libraries
import sys


## Problem: Write a function that takes a list of integers as
## and returns the sum of all the integers in the list.

def sum_of_list(lst):
    ## Remove the pass statement and write your code here
    ## CODEBASE:S01 Start
    sum = 0
    for i in lst:
        sum += i
    return sum


    ## CODEBASE:S01 End

 


## Skeleton code for testing
## DO NOT MODIFY, Please maintain this structure
if __name__ == '__main__':

    numbers_str = sys.argv[1:]  
    numbers = [int(num) for num in numbers_str]

    # print("List of numbers:", numbers)
    print(sum_of_list(numbers)) 
    
    """ End to call """

ValueError: invalid literal for int() with base 10: '-f'

In [ ]:
import requests
from bs4 import BeautifulSoup


# The URL of the web page will provide links to all video lectures. 


URL = "https://g29.tcsion.com/LX/content_players/content_home_new?LaunchFrom=iHUB&TargetOrgid=32719&User-Agent=Computer&Userid=20986683&action=/content&app_id=9519&c_id=digital-lecture-iit-kharagpur-ai4icps-certificate-1541-32719&c_id=digital-lecture-iit-kharagpur-ai4icps-certificate-1541-32719&comm_target_orgId=32719&community_id=141428&content_player=true&del_type=Courses/Batches&eForm=Y&lan=en&lan_id=1&logout=http://www.tcsion.com&newWindow=Y&org_id=1016&returnUrl=https://www.tcsion.com/&serviceid=13&sub_eng_key=LX21511704933618000840AE1XJO8779691&type=iEvolve"

def get_video_links():
	
	# create response object
	response = requests.get(URL)
	
	# create a beautiful-soup object
	soup = BeautifulSoup(response.content,'html.parser')
	
	# find all links on a given web-page
	total_links = soup.findAll('a')

	# filter the link sending with .mp4
	video_links = [URL + link['href'] for link in total_links if link['href'].endswith('mp4')]

	return video_links


def download_videos(extracted_video_links):

	for link in extracted_video_links:

		# iterate through all links in video_links and download them one by one
		
		# obtain the filename by splitting the URL 
		name_of_file = link.split('/')[-1]

		print( "Downloading file:%s"%name_of_file)
		
		# create a response object
		response = requests.get(link, stream = True)
		
		# download started
		with open(name_of_file, 'wb') as f:
			for chunk in response.iter_content(chunk_size = 1024*1024):
				if chunk:
					f.write(chunk)
		
		print( "%s downloaded!\n"%name_of_file )

	print ("All videos downloaded!")
	return


if __name__ == "__main__":

	# extracting all video links
	extracted_video_links = get_video_links()

	# download all videos using their URLs
	download_videos(extracted_video_links)

In [3]:
a = [1,2,3]
b = [4,5,6]
c = a+b
c
d = [a[0]+b[0],a[1]+b[1],a[2]+b[2]]
d

[5, 7, 9]

In [23]:
import numpy as np
c = np.array([1,2,3,4])
d = np.array([5,6,7,8])
e = c + d
e

array([ 6,  8, 10, 12])

In [29]:
op = np.sum(c, axis=0)
op

10

In [45]:
ary = np.arange(1,13,1).reshape(3,4)
ary

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [47]:
ary.shape

(3, 4)

In [49]:
import pandas as pd
df = pd.DataFrame({'Saran':['Like','NotLike'],'barath':['NotLike','Like']},index=['Chicken','Mutton'])
df

           Saran   barath
Chicken     Like  NotLike
Mutton   NotLike     Like

In [3]:
import numpy as np

# Data
X = np.array([[60, 22], [67, 24], [71, 15], [75, 20], [78, 16]])
y = np.array([140, 159, 192, 200, 212])

# Initial weights and learning rate
w = np.array([0, 1, 1])
alpha = 0.0002

# Function to calculate MSE
def mse(y_pred, y_true):
  return np.mean((y_pred - y_true)**2)

# Gradient descent iterations
# ...

# Final table
#print("w0\tw1\tw2")
#print(f"{w0:.6f}\t{w1:.6f}\t{w2:.6f}")
print("Initial MSE:", initial_mse)
print("Final MSE:", final_mse)

NameError: name 'initial_mse' is not defined

In [5]:
import numpy as np

def gradient_descent(X, y, learning_rate, num_iterations):
  """
  Performs gradient descent for linear regression.

  Args:
    X: Feature matrix (n_samples, n_features)
    y: Target values (n_samples,)
    learning_rate: Learning rate
    num_iterations: Number of iterations

  Returns:
    weights: Final weights
  """

  n_samples, n_features = X.shape
  weights = np.zeros(n_features + 1)  # Add bias term

  for _ in range(num_iterations):
    y_pred = np.dot(X, weights[1:]) + weights[0]
    error = y_pred - y

    # Update weights
    weights[1:] -= (learning_rate * (1/n_samples) * np.dot(X.T, error))
    weights[0] -= (learning_rate * (1/n_samples) * np.sum(error))

  return weights

# Data
X = np.array([[60, 22], [67, 24], [71, 15], [75, 20], [78, 16]])
y = np.array([140, 159, 192, 200, 212])

# Add bias term to X
X = np.insert(X, 0, 1, axis=1)

# Hyperparameters
learning_rate = 0.0002
num_iterations = 2000

# Perform gradient descent
weights = gradient_descent(X, y, learning_rate, num_iterations)

print("Weights:", weights)

# Calculate final MSE
y_pred = np.dot(X, weights[1:]) + weights[0]
mse = np.mean((y_pred - y)**2)
print("Final MSE:", mse)

Weights: [-0.0392628  -0.0392628   3.22042922 -2.33551519]
Final MSE: 7.315539215887021

In [7]:
import numpy as np

def gradient_descent(X, y, learning_rate, num_iterations):
    """
    Performs gradient descent for linear regression.

    Args:
        X: Feature matrix (n_samples, n_features)
        y: Target values (n_samples,)
        learning_rate: Learning rate
        num_iterations: Number of iterations

    Returns:
        weights: Final weights
    """

    n_samples, n_features = X.shape
    weights = np.zeros(n_features + 1)  # Add bias term

    for _ in range(num_iterations):
        y_pred = np.dot(X, weights[1:]) + weights[0]
        error = y_pred - y

        # Update weights
        weights[1:] -= (learning_rate * (1/n_samples) * np.dot(X.T, error))
        weights[0] -= (learning_rate * (1/n_samples) * np.sum(error))

    return weights

# Data
X = np.array([[60, 22], [67, 24], [71, 15], [75, 20], [78, 16]])
y = np.array([140, 159, 192, 200, 212])

# Add bias term to X
X = np.insert(X, 0, 1, axis=1)

# Initial weights and learning rate
initial_weights = np.array([0, 1, 1])
learning_rate = 0.0002
num_iterations = 2

# Perform gradient descent for 2 iterations
weights = gradient_descent(X, y, learning_rate, num_iterations)

# Calculate initial and final MSE
def mse(y_true, y_pred):
    return np.mean((y_true - y_pred) ** 2)

initial_y_pred = np.dot(X, initial_weights[1:]) + initial_weights[0]
initial_mse = mse(y, initial_y_pred)

final_y_pred = np.dot(X, weights[1:]) + weights[0]
final_mse = mse(y, final_y_pred)

print("Initial weights:", initial_weights)
print("Weights after 2 iterations:", weights)
print("Initial MSE:", initial_mse)
print("Final MSE:", final_mse)

ValueError: shapes (5,3) and (2,) not aligned: 3 (dim 1) != 2 (dim 0)

In [1]:
import pandas as pd
df = pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.shape

(150, 5)

In [5]:
a = df["species"]
a

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [7]:
b = df["petal_width"]*2
b

0      0.4
1      0.4
2      0.4
3      0.4
4      0.4
      ...
145    4.6
146    3.8
147    4.0
148    4.6
149    3.6
Name: petal_width, Length: 150, dtype: float64

In [17]:
c = df[["petal_width","species","petal_length"]]
c

     petal_width         species  petal_length
0            0.2     Iris-setosa           1.4
1            0.2     Iris-setosa           1.4
2            0.2     Iris-setosa           1.3
3            0.2     Iris-setosa           1.5
4            0.2     Iris-setosa           1.4
..           ...             ...           ...
145          2.3  Iris-virginica           5.2
146          1.9  Iris-virginica           5.0
147          2.0  Iris-virginica           5.2
148          2.3  Iris-virginica           5.4
149          1.8  Iris-virginica           5.1

[150 rows x 3 columns]

In [23]:
df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [27]:
df['diff'] = df["sepal_width"] - df["sepal_length"]
df

,sepal_length,sepal_width,petal_length,petal_width,species,diff
0,5.1,3.5,1.4,0.2,Iris-setosa,-1.6
1,4.9,3.0,1.4,0.2,Iris-setosa,-1.9
2,4.7,3.2,1.3,0.2,Iris-setosa,-1.5
3,4.6,3.1,1.5,0.2,Iris-setosa,-1.5
4,5.0,3.6,1.4,0.2,Iris-setosa,-1.4
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,-3.7
146,6.3,2.5,5.0,1.9,Iris-virginica,-3.8
147,6.5,3.0,5.2,2.0,Iris-virginica,-3.5
148,6.2,3.4,5.4,2.3,Iris-virginica,-2.8
149,5.9,3.0,5.1,1.8,Iris-virginica,-2.9

In [9]:
class Person():
    print("Hai")
    a=10
obj = Person()
obj2 = Person()
print(obj.a)
print(obj2.a * 3)

Hai
10
30

In [11]:
def greetings(name):
    print(f"My name is {name}")
greetings("Saran")

My name is Saran

In [21]:
def add(x,y=20):
    z = x+y
    print("The Result is ",z)
add(y = 30,x=10)

The Result is  40

In [25]:
def add(x,y=20):
    z = x+y
    return z
add(y = 30,x=10)
print(add(y = 30,x=10))

40

In [31]:
def fun(x):
    return x+5
a = fun(5)
print(a)

10

In [3]:
def add(a:int , b:int = 10) -> int:
    return a+b

c = add(10)
print(type(c))

<class 'int'>

In [9]:
def add(x,*y):
    z = x+y[2]
    print(z)

add(10,20,30,40)

50

In [29]:
def add(x,*y):
    z = x
    for i in y:
        #print(i)
        z += i
    print(z)

add(10,20,30,40)

100

In [47]:
def lst_to_fun(lst):
    even = 0
    odd = 0
    for i in lst:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
    return even, odd

lst = [10,34,53,56,78,46,35,80,9,43,57,88,55,44,33,22,99,98]
even, odd = lst_to_fun(lst)
print(f"No of Even numners present in the list {even} ")
print(f"No of Odd numners present in the list {odd} ")
print("Even Numbers count : {} || Odd Numbers Count : {} ".format(even,odd))

No of Even numners present in the list 10
No of Odd numners present in the list 8
Even Numbers count : 10 || Odd Numbers Count : 8

In [23]:
def fun(name,**values):
    print("Name is ",name)
    print(values) #print(values["age"]) -> 45
    print(type(values))

fun("saran",age=45,mob=123456)

Name is  saran
{'age': 45, 'mob': 123456}
<class 'dict'>

In [39]:
def fun(name,**values):
    print("Name is ",name)
    for j in values.values():
        print(j)

fun("saran",age=45,mob=123456)

Name is  saran
45
123456

In [61]:
def fun(name,**values):
    print("Name is ",name)
    a=values.items()
    print(a)

fun("saran",age=45,mob=123456)

Name is  saran
dict_items([('age', 45), ('mob', 123456)])

In [75]:
import sys

a = ('Learn', 'Python', 'with', 'GFG', 'now')

# Checking memory usage of the list
print("Memory size of list:", sys.getsizeof(a))  # Returns the size in bytes

Memory size of list: 80

In [7]:
class addition():
    def add(self,a,b):
        c = a + b
        print("the result is", c)
a = addition()
a.add(10,20)

the result is 30

In [29]:
class addition():
    def add(self,a,b):
        c = a + b
        print("the result is", c)
a = addition()
a.add(10,20)
print(type(a))

the result is 30
<class '__main__.addition'>

In [31]:
class addition():
    d = 20
    def add(self,a,b):
        c = a + b + self.d
        print("the result is", c)
a = addition()
a.add(10,20)

the result is 50
<class '__main__.addition'>

In [1]:
inp = input("Enter the number: ")
print(type(inp))

Enter the number:  15,6

<class 'str'>

In [7]:
inp = input("Enter the number: ")
lst = list(map(int,inp.split()))
print(type(lst))
print(lst)

Enter the number:  55 66 77 88 99

<class 'list'>
[55, 66, 77, 88, 99]

In [9]:
inp = input("Enter the number: ")
lst = [map(int,inp.split())]
print(type(lst))
print(lst)

Enter the number:  55 66 77 88 99

<class 'list'>
[<map object at 0x0000015625152A10>]

In [13]:
secret_num = 96

for i in range(1,8):
    user_input = int(input("Enter the Number: "))
    if secret_num == user_input:
        print("You guessed the number!!!!")
        break
    else:
        print("Better luck next time")
print(f"you find the secret_number {secret_num} in the {i} trial")

Enter the Number:  56

Better luck next time

Enter the Number:  56

Better luck next time

Enter the Number:  56

Better luck next time

Enter the Number:  656

Better luck next time

Enter the Number:  96

You guessed the number!!!!
you find the secret_number 96 in the 5 trial

In [75]:
import random
a = random.randint()
a

13451647017

In [77]:
import pandas as pd

In [81]:
pd.__version__

'2.1.4'

In [1]:
print(1+1)

2

In [ ]:
pd.re

In [ ]:
a = {}

In [1]:
a = "Bhagavathi Saran"
a[-1:-4]

''

In [3]:
a[-4:-1]

'ara'

In [11]:
a [4:8]

'avat'

In [33]:
10%3

1

In [39]:
a = ["Apple","Banana"]
print("Orange" not in a)

True

In [59]:
a = ["Apple","Banana"]
b = ["Apple","Banana"]
c = a
print(id(a))
print(id(b))
print(id(c))
print(a is b)
print(a is c)
print(a==b)

2455875300608
2455875302528
2455875300608
False
True
True

In [3]:
name = 'Saran'
for i in name:
    if index('S') == 0:
        print(i)

NameError: name 'index' is not defined

In [8]:
user_input = input("Enter a word : ")
for i in user_input:
    if i.lower() == 'a':
        print(i)

Enter a word :  saran

a
a

In [22]:
a = (1,2,3,4)
for i in a:
    print(i+2)
print("i")

3
4
5
6
i

In [1]:
pandas.__version__

NameError: name 'pandas' is not defined

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bhaga\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
pd.__version__

'2.3.1'

In [10]:
df = pd.read_csv('RS_Session_260_AU_25_B.csv')
df.head()

,State,2020 - Actual,2020 - Normal,2020 - % Departure,2021 - Actual,2021 - Normal,2021 - % Departure,2022 - Actual,2022 - Normal,2022 - % Departure
0,Andhra Pradesh,738.2,514.4,44,613.5,514.4,19,575.6,521.6,10
1,Arunachal Pradesh,1972.0,1726.6,14,1294.0,1726.6,-25,1430.3,1675.1,-15
2,Assam,1654.6,1486.2,11,1150.0,1486.2,-23,1340.5,1479.1,-9
3,Bihar,1272.4,1017.2,25,1044.3,1017.2,3,683.7,992.2,-31
4,Chandigarh,791.1,846.5,-7,600.2,846.5,-29,902.5,844.9,7

In [13]:
df1 = pd.read_csv('data.tsv.txt', sep = '@')
df1.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98